/* ---------- Footer ---------- */
.pageFooter {
    margin-top: 1rem;
  }
  
  .footerTop {
    width: 100%;
    border-bottom: 0.15rem solid;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .socialLink {
    margin: 1em;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Source Code Pro';
  }
  
  .socialLink:hover {
    color: var(--emphasis);
  }
  
  .socialLink a {
    font-size: 10pt;
  }
  
  .socialLink svg {
    height: 1.5em;
    width: 100%;
  }
  
  .footerBottom {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    font-family: 'Source Code Pro';
    text-decoration: none;
    color: var(--body-color);
    margin-top: 1em;
  }
  
  @media (max-width: 575px) {
    .footerBottom {
      justify-content: center;
    }
  }
  
  @media (max-width: 575px) {
    .footerBottom div {
      width: 100%;
      justify-content: center;
    }
  }
  
  .footerBottom > span {
    display: flex;
  }
  
  .pageFooter a {
    color: inherit;
  }
  
  .footerLegal {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    column-gap: 2em;
  }
  