/* ---------- Site Theme ---------- */
:root, [colorMode=dark] {
  --bg-color: rgb(25, 30, 40);
  --body-color: rgb(200, 200, 200);
  --emphasis: #00b4d8;
  --emphasis-secondary: #fff;
  --bg-secondary: #212631;
  --bg-figure: #4c4f69;
}

[colorMode=light] {
  --bg-color: #fff;
  --body-color: rgb(25, 30, 40);
  --emphasis: #00527e;
  --emphasis-secondary: #afafaf;
  --bg-secondary: #d3d3d3;
  --bg-figure: #c6d0f5;
}

:root {
  --font-emphasis: 'Source Code Pro';
  --font-body: 'Source Sans Pro';
  background: var(--bg-color);
  color: var(--body-color);
  font-family: var(--font-body);
  font-size: 12pt;
}