@import "_font_source_code_pro.css";
@import "_font_source_sans_pro.css";
@import "_style-theme.css";
@import "_style-tag-defaults.css";
@import "_style-navbar.css";
@import "_style-footer.css";
@import "_style-sidebar.css";
@import "_style-articlecard.css";
@import "_style-article.css";
@import "_style-codeblock.css";

.pageContent {
  display: flex;
  flex-direction: column;
  column-gap: 3em;
}

@media (min-width: 1000px) {
  .pageContent {
    flex-direction: row;
  }
}

@media (max-width: 999px) {
  .hideSmall {
    display: none;
  }
}

